body{
	padding: 0;
	margin: 0;
}
.sidebar{
	height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 15px;
}
.navbarGrid
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.navList {
	list-style: none;
}
.navList li{
	margin: 15px 0px;
	border-radius: 5%;
	background: grey;
	padding: 10px 15px;
}
.navList  a
{
text-align: center;
	text-decoration: none;
	color: white;
	font-size: 20px;
}
/*listele*/
.listeleGrid{
	width: calc(100%-210px);
	padding: 0px 15px;
	margin-top: 50px;
	margin-left: 210px;
}
.icerikGrid{
	height: 200px;
	overflow: scroll;
}